header {
  display: flex !important;
  flex-direction: row;
  align-items: flex-end;
}

header h2 {
  font-weight: bold;
  width: 600px;
}

section {
  margin: 50px;
}

svg {
  margin-left: 10px;
}

.rotate {
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.rotate.down {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#tabs-wrapper {
  margin-top: 25px;
}

#menu-content {
  text-align: center;
}
