header {
  position:relative;
  text-align: center;
}

header h1 {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: orangered;
  font-size: 75px;
  font-weight: bold;
  text-decoration-line: underline;
}

header img {
  z-index: 1;
}

section {
  margin: 50px;
}

#tabs-wrapper {
  margin-top: 25px;
}