table {
    display: inline-block;
    font-size: 60px;
    border-collapse: collapse;
}
table, td, tr {
    border: 1px solid black;
}

td, tr {
    padding: 70px;
}

h1 {
    font-size: 40px;
}

#container {
    text-align: center;
}

