table {
    display: inline-block;
    font-size: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #343e3d;
    border-collapse: collapse;
    border-style: hidden;
    border: none;
    table-layout: fixed;
    margin-top: 5px;
}

table td, table th {
    border: 20px solid #fe654f;
    border-collapse: collapse;
}

td {
    height: 200px;
    width: 200px;
}

tbody:first-child {
    border-style: hidden;
}

h1 {
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #3c4645;
}

body {
    background-color: #a5ffd6;
}

#clear-board-btn {
    position: absolute;
    top: 175px;
    left: 75px;
    border: none;
    padding: 15px 38px;
    background-color: #a8dadc;
    font-weight: bold;
}

#reset-btn {
    position: absolute;
    top: 175px;
    left: 225px;
    border: none;
    padding: 15px 38px;
    background-color: #e63946;
    font-weight: bold;
}

#container {
    text-align: center;
}

#scores {
    position: absolute;
    top: 250px;
    left: 75px;
    border: 10px solid #f3a712;
    padding: 50px;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: #343e3d; 
}
